In [1]:
import pandas as pd

PATH_TO_DATA="/lustre/fs5/jarv_lab/scratch/adenisova/Inno_2025"

df = pd.read_csv(f"{PATH_TO_DATA}/tmp/trimmed_alignment_qc_summary.tsv", sep = "\t")
df.describe()

,n_species,n_duplicates,duplicates,alignment_length,gap_columns_frac,gap50_columns_frac,mean_gap_frac,max_gap_frac,mean_N_frac,cds_ok_frac,stop_codons_total,number_of_foreground_species
count,15259.000000,15259.0,0.0,15259.000000,15259.0,15259.000000,15259.000000,15259.000000,15259.000000,15259.0,15259.0,15259.000000
mean,54.635559,0.0,NaN,1708.425585,0.0,0.015003,0.042240,0.313607,0.001688,1.0,0.0,25.999934
std,14.717527,0.0,NaN,1643.488941,0.0,0.078492,0.075721,0.239482,0.004334,0.0,0.0,0.008095
min,4.000000,0.0,NaN,6.000000,0.0,0.000000,0.000000,0.000000,0.000000,1.0,0.0,25.000000
25%,55.000000,0.0,NaN,750.000000,0.0,0.000000,0.005426,0.117001,0.000128,1.0,0.0,26.000000
50%,62.000000,0.0,NaN,1269.000000,0.0,0.000000,0.016129,0.285330,0.000242,1.0,0.0,26.000000
75%,63.000000,0.0,NaN,2103.000000,0.0,0.000000,0.043972,0.455771,0.001083,1.0,0.0,26.000000
max,63.000000,0.0,NaN,28347.000000,0.0,1.000000,0.727602,0.998847,0.079284,1.0,0.0,26.000000

In [ ]:
df_filtered = df[
    (df["number_of_foreground_species"] == 26) &
    (df["n_species"] >= 52) &
    (df["status"] == "kept") 
    # (df["gap_columns_frac"] == 0) &
    # (df["gap50_columns_frac"] == 0) &
    # (df["mean_gap_frac"] == 0)
    # (df["gap50_columns_frac"] <= 0.19) &
    # (df["number_of_foreground_species"] == 22) 
][
    ["gene", "all_species"]
]
df_filtered

SyntaxError: invalid syntax (3411335907.py, line 10)

In [ ]:
df_filtered.to_csv(
    f"{PATH_TO_DATA}/tmp/trimmed_alignment_qc_summary_filtered.tsv",
    sep = "\t",
    index = False,
    header = True
)

In [13]:
df_strong = df[
    (df["number_of_foreground_species"] == 26) &
    (df["n_species"] >= 52) &
    (df["status"] == "kept") &
    (df["gap_columns_frac"] == 0) &
    (df["gap50_columns_frac"] == 0)
    # (df["gap50_columns_frac"] <= 0.19) &
    # (df["number_of_foreground_species"] == 22) 
]
df_strong[df_strong["gene"].apply(lambda x: "SLC25A1" in x)]

,gene,status,n_species,n_duplicates,duplicates,alignment_length,gap_columns_frac,gap50_columns_frac,mean_gap_frac,max_gap_frac,mean_N_frac,cds_ok_frac,stop_codons_total,number_of_foreground_species,foreground_species,all_species
156,SLC25A12_rna-XM_015289764.2,kept,61.0,0.0,NaN,2010.0,0.0,0.0,0.009689,0.200000,0.000375,1.0,0.0,26.0,"Agelaius_tricolor,Corvus_brachyrhynchos,Falco_...","Picathartes_gymnocephalus,Strigops_habroptila,..."
4345,SLC25A16_rna-XM_421570.6,kept,62.0,0.0,NaN,867.0,0.0,0.0,0.001730,0.107266,0.003497,1.0,0.0,26.0,"Agelaius_tricolor,Corvus_brachyrhynchos,Falco_...","Fregata_magnificens,Passer_montanus,Ifrita_kow..."
4877,SLC25A1_rna-XM_025155588.1,kept,59.0,0.0,NaN,969.0,0.0,0.0,0.005352,0.105263,0.007819,1.0,0.0,26.0,"Agelaius_tricolor,Corvus_brachyrhynchos,Falco_...","Leptosomus_discolor,Sterna_hirundo,Nisaetus_ni..."
11728,SLC25A13_rna-NM_001012949.2,kept,58.0,0.0,NaN,2016.0,0.0,0.0,0.006748,0.172619,0.001522,1.0,0.0,26.0,"Agelaius_tricolor,Corvus_brachyrhynchos,Falco_...","Strigops_habroptila,Toxostoma_redivivum,Theris..."
12518,SLC25A15_rna-NM_001008442.1,kept,62.0,0.0,NaN,906.0,0.0,0.0,0.000000,0.000000,0.003311,1.0,0.0,26.0,"Agelaius_tricolor,Corvus_brachyrhynchos,Falco_...","Picathartes_gymnocephalus,Strigops_habroptila,..."
12810,SLC25A17_rna-XM_416242.6,kept,58.0,0.0,NaN,870.0,0.0,0.0,0.001902,0.110345,0.003488,1.0,0.0,26.0,"Agelaius_tricolor,Corvus_brachyrhynchos,Falco_...","Cochlearius_cochlearius,Trogon_melanurus,Rissa..."

In [10]:
df[df["gene"] == "OC3_ENSGALT00000044491.2"]["all_species"].values[0]

'Serinus_canaria,Fratercula_arctica,Agelaius_phoeniceus,Agelaius_tricolor,Sturnus_vulgaris,Anthoscopus_minutus,Sterna_hirundo,Rynchops_niger,Quiscalus_mexicanus,Corvus_brachyrhynchos,Pseudopodoces_humilis,Prunella_himalayana,Corvus_macrorhynchos,Corvus_moneduloides,Picathartes_gymnocephalus,Peucedramus_taeniatus,Dromas_ardeola,Passer_montanus,Passer_domesticus,Parus_major,Gymnogyps_californianus,Nicator_chloris,Nestor_notabilis,Molothrus_ater,Ifrita_kowaldi,Lamprotornis_superbus,Lanius_collurio,Leucopsar_rothschildi,Nipponia_nippon,Loxia_leucoptera,Rissa_tridactyla,Egretta_garzetta,Alauda_arvensis,Sialia_sialis,Opisthocomus_hoazin,Fregata_magnificens,Gorsachius_goisagi,Drymodes_brunneopygia,Theristicus_caerulescens,Strigops_habroptila,Leptosomus_discolor,Ciconia_maguari,Mesembrinibis_cayennensis,Cochlearius_cochlearius,Phalacrocorax_pelagicus,Phalacrocorax_carbo,Pelecanus_crispus,Sula_dactylatra,Chunga_burmeisteri,Toxostoma_redivivum,Anhinga_anhinga,Cinclus_mexicanus,Nisaetus_nipalensis,Haliaeetus_pelagicus,Haliaeetus_albicilla,Haliaeetus_leucocephalus,Trogon_melanurus'

In [11]:
len(df[df["gene"] == "OC3_ENSGALT00000044491.2"]["all_species"].values[0].split(","))

57

In [ ]:
df[[
    "gene",
    "all_species"
]].to_csv(f"{PATH_TO_DATA}/tmp/alignment_qc_summary_filtered.tsv", sep = "\t", index = False)

In [3]:
df.describe(percentiles=[0.25, 0.5, 0.75, 0.9, 0.95, 0.99])

,n_species,n_duplicates,alignment_length,gap_columns_frac,gap50_columns_frac,mean_gap_frac,max_gap_frac,mean_N_frac,cds_ok_frac,stop_codons_total,number_of_foreground_species
count,15260.000000,15260.000000,15260.000000,15260.000000,15260.000000,15260.000000,15260.000000,15260.000000,15260.0,15260.0,15260.000000
mean,54.641481,0.480603,2440.127457,0.178693,0.247828,0.266072,0.474513,0.002861,1.0,0.0,21.999934
std,14.706793,1.435766,2339.388490,0.146258,0.205421,0.201244,0.240821,0.002632,0.0,0.0,0.008095
min,4.000000,0.000000,75.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.0,21.000000
25%,55.000000,0.000000,1131.000000,0.066026,0.086207,0.105441,0.292220,0.001352,1.0,0.0,22.000000
50%,62.000000,0.000000,1809.000000,0.135406,0.182241,0.209110,0.468188,0.002163,1.0,0.0,22.000000
75%,63.000000,0.000000,2991.000000,0.254266,0.358639,0.382479,0.641327,0.003515,1.0,0.0,22.000000
90%,63.000000,1.000000,4692.000000,0.393822,0.565233,0.577084,0.822652,0.005610,1.0,0.0,22.000000
95%,63.000000,2.000000,6306.150000,0.476941,0.680014,0.679916,0.906725,0.007353,1.0,0.0,22.000000
99%,63.000000,8.000000,11167.920000,0.624761,0.835597,0.818870,0.976577,0.012438,1.0,0.0,22.000000
max,63.000000,23.000000,74892.000000,1.000000,1.000000,1.000000,1.000000,0.101782,1.0,0.0,22.000000

,gene,status,n_species,n_duplicates,duplicates,alignment_length,gap_columns_frac,gap50_columns_frac,mean_gap_frac,max_gap_frac,mean_N_frac,cds_ok_frac,stop_codons_total,number_of_foreground_species,foreground_species,all_species
5,CCNA1_rna-XM_004938747.3,kept,63.0,0.0,NaN,1407.0,0.113006,0.132196,0.167597,0.394456,0.002177,1.0,0.0,22.0,"Agelaius_phoeniceus,Sterna_hirundo,Agelaius_tr...","Drymodes_brunneopygia,Haliaeetus_albicilla,Hal..."
6,GPT2_rna-XM_015292423.2,kept,63.0,1.0,Strigops_habroptila,1935.0,0.133333,0.144186,0.194930,0.510078,0.001575,1.0,0.0,22.0,"Agelaius_phoeniceus,Sterna_hirundo,Agelaius_tr...","Falco_naumanni,Falco_rusticolus,Falco_tinnuncu..."
7,CMIP_rna-XM_025154369.1,kept,63.0,1.0,Strigops_habroptila,2631.0,0.067275,0.106043,0.154151,0.236032,0.001279,1.0,0.0,22.0,"Agelaius_phoeniceus,Sterna_hirundo,Agelaius_tr...","Agelaius_phoeniceus,Agelaius_tricolor,Alauda_a..."
9,TBX19_ENSGALT00000024597.4,kept,63.0,0.0,NaN,1344.0,0.033482,0.113839,0.090030,0.116071,0.002480,1.0,0.0,22.0,"Agelaius_phoeniceus,Sterna_hirundo,Agelaius_tr...","Picathartes_gymnocephalus,Strigops_habroptila,..."
10,ASH2L_rna-XM_015297368.1,kept,63.0,0.0,NaN,2121.0,0.115983,0.189533,0.179453,0.551627,0.001542,1.0,0.0,22.0,"Agelaius_phoeniceus,Sterna_hirundo,Agelaius_tr...","Molothrus_ater,Gorsachius_goisagi,Phalacrocora..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15963,rna-XM_015296045.2,kept,63.0,0.0,NaN,1851.0,0.128039,0.134522,0.136914,0.228525,0.001689,1.0,0.0,22.0,"Agelaius_phoeniceus,Sterna_hirundo,Agelaius_tr...","Dromas_ardeola,Sterna_hirundo,Corvus_brachyrhy..."
15967,rna-XM_015280475.2_potentialNMD,kept,63.0,0.0,NaN,1779.0,0.306914,0.384486,0.402393,0.433390,0.002195,1.0,0.0,22.0,"Agelaius_phoeniceus,Sterna_hirundo,Agelaius_tr...","Sula_dactylatra,Falco_cherrug,Falco_naumanni,F..."
15974,AGR3_rna-XM_025147189.1,kept,63.0,0.0,NaN,522.0,0.045977,0.045977,0.045977,0.045977,0.005899,1.0,0.0,22.0,"Agelaius_phoeniceus,Sterna_hirundo,Agelaius_tr...","Picathartes_gymnocephalus,Strigops_habroptila,..."
15976,APBA2_rna-XM_015278989.2,kept,63.0,1.0,Sialia_sialis,2337.0,0.016688,0.029525,0.033152,0.145058,0.001352,1.0,0.0,22.0,"Agelaius_phoeniceus,Sterna_hirundo,Agelaius_tr...","Picathartes_gymnocephalus,Chaetops_frenatus,To..."
15981,THG1L_ENSGALT00000005910.5,kept,63.0,1.0,Lanius_collurio,1071.0,0.142857,0.170868,0.216620,0.341737,0.003023,1.0,0.0,22.0,"Agelaius_phoeniceus,Sterna_hirundo,Agelaius_tr...","Nipponia_nippon,Strigops_habroptila,Cinclus_me..."

In [12]:
foreground = set(pd.read_csv(f"{PATH_TO_DATA}/initial_data/foreground_species.tsv", sep = "\s+")["Scientific_Name"].tolist())
len(foreground)

27

In [22]:
foreground - set(df["foreground_species"].unique()[0].split(","))

{'Butorides_virescens', 'Falco_cherrug'}

In [8]:
df[df["max_gap_frac"] > 0.99]

,gene,status,n_species,n_duplicates,duplicates,alignment_length,gap_columns_frac,gap50_columns_frac,mean_gap_frac,max_gap_frac,mean_N_frac,cds_ok_frac,stop_codons_total
33,rna-XM_420887.6,kept,290.0,4.0,"HLcolLiv2,HLneoChr1,HLnumMel2,HLeopAus2",30006.0,0.114177,0.712158,0.741863,0.996901,0.000212,1.0,0.0
76,EBF4_ENSGALT00000103430.1,kept,108.0,7.0,"HLcygOlo1,HLturRuf1,HLpluApr1,HLanaPla1,HLnumM...",7755.0,0.123791,0.771373,0.805724,0.996518,0.003570,1.0,0.0
83,SHKBP1_rna-XM_025144465.1,kept,35.0,7.0,"HLnisNip1,HLcarCri1,HLchrPic1,HLagePho2,HLsyrM...",5286.0,0.213394,1.000000,0.835106,0.992054,0.001108,1.0,0.0
253,rna-XM_025154608.1,kept,316.0,61.0,"HLbraLep1,HLtroSur1,HLproAte1,HLaraGla2,HLherC...",1803.0,0.059900,0.407654,0.490032,0.990017,0.001609,1.0,0.0
410,rna-XM_025149231.1,kept,207.0,3.0,"HLneoChr1,HLcolAur1,HLpeuTae1",10317.0,0.035475,0.473103,0.473204,0.993894,0.000933,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15179,MYO1A_ENSGALT00000099992.1,kept,300.0,1.0,HLneoChr1,8979.0,0.120949,0.603074,0.642105,0.990311,0.001254,1.0,0.0
15224,rna-XM_025142806.1,kept,126.0,15.0,"HLsylBor1,HLburOed1,HLnisNip1,HLtriLeu1,HLnesA...",5040.0,0.151190,0.762500,0.780645,0.994643,0.002225,1.0,0.0
15434,ENSGALT00000094485.1,kept,16.0,3.0,"HLaraRub1,HLcucCan2,HLtroSur1",6939.0,0.118029,0.697795,0.658263,0.997406,0.002081,1.0,0.0
15483,ZFP36L2_ENSGALT00000069966.2,kept,141.0,1.0,HLneoChr1,2427.0,0.038319,0.400494,0.416949,0.990111,0.001449,1.0,0.0
15884,ADGRB2_rna-XM_025143051.1,kept,333.0,5.0,"chaVoc2,HLpruHim1,HLhelFul1,HLacrAru1,HLneoChr1",7077.0,0.140738,0.342094,0.441564,0.991946,0.000659,1.0,0.0

In [17]:
df_sp = pd.read_csv(f"{PATH_TO_DATA}/tmp/species_qc_summary.tsv", sep = "\t")

df_sp[]

,species,n_genes,mean_gap_frac,median_gap_frac,max_gap_frac,class
348,HLpioSen1,3252,0.373359,0.381635,0.989028,background